.chatCont {
  flex: 2;
  border-left: 1px solid rgb(203, 201, 201);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
/* top */
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(203, 201, 201);
  position: relative;

  img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }
}
.navTexts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.chatName {
  font-size: 18px;
  font-weight: 700;
}
.chatDesc {
  font-size: 14px;
  font-weight: 300;
  color: #a5a5a5;
  margin-bottom: 0%;
}
.icons {
  display: flex;
  align-items: center; /* ensures vertical alignment */
  gap: 2rem;
  cursor: pointer;
  position: relative;
}
.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  top: 0;
}

/*------ back button ------- */
#chatBackBtn {
  background: none;
  border: none;
  font-size: 2.5rem;
  margin-right: 0.7rem;
  color: white;
  cursor: pointer;
  display: block;
  z-index: 10;
}

#user-dropdown {
  position: absolute;
  top: 120%; /*position directly below the icon 3 dots*/
  right: 0;
  margin-top: 10px;
  width: 10rem;

  background-image: url(/bg3.jpg);
  background-size: cover;
  background-position: center;

  /* ✨ Glass effect */
  background: rgba(255, 255, 255, 0.1);
  /* translucent */
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  z-index: 9999;
  min-width: 120px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  /* prevent layout shift */
  /* pointer-events: auto; */

  /* dropdown animation */
  opacity: 0;
  transform: translateY(-10px);
  animation: dropdownFade 0.2s forwards;
}

@keyframes dropdownFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* dropdown buttons */
#user-dropdown button {
  padding: 12px 10px;
  width: 90%;
  display: block;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(15px) saturate(180%);
  color: white;
  border: none;
  text-align: left;
  cursor: pointer;
  margin: 0.5rem;
  transition: background-color 0.2s ease-in-out;
  font-weight: 500;
  border-radius: 1rem;
  top: 2rem;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

#blockBtn {
  /* background-color: rgba(186, 23, 23, 0.7) !important; */

  &:hover {
    background-color: rgba(186, 23, 23, 0.7) !important;
  }
}

/* clear chat modal */
.modal-overlay {
  position: fixed;
  width: 30%;
  height: 50%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
  left: 50%;
  top: 20%;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 350px;
  text-align: center;
}

.modal-content button {
  margin: 10px;
  padding: 6px 14px;
  cursor: pointer;
  border-radius: 0.8rem;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(15px) saturate(180%);
  color: white;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

/* center */
.center {
  flex: 1;
  padding: 0.5rem;
  /* Use overflow-y: auto instead of overflow: scroll to hide scrollbars when not needed. */
  overflow-y: auto; /* Vertical scroll only */
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.message,
.myMessage {
  max-width: 70%;
  display: flex;
  gap: 20px;
  align-self: flex-start;
  img {
    height: 10rem;
    width: 13rem;
    border-radius: 10px;
  }
}
.myMessage {
  align-self: flex-end;
  img {
    height: 10rem;
    width: 13rem;
    border-radius: 10px;
  }
}
.msgTexts p {
  background-color: rgb(216, 214, 214);
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(0, 0, 87);
  margin-bottom: 0%;
  color: white;
}
.msgTexts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;

  img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
  }
  span {
    font-size: 0.6rem;
  }
}
/* bottom */
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1px solid rgb(203, 201, 201);
  border-radius: 2rem;
  gap: 1rem;
  margin-top: auto;
  margin-bottom: 0.2rem;
  margin: 0.4rem;
}
.BottomIcons {
  display: flex;
  gap: 1.5rem;
  cursor: pointer;
  align-items: center;
}

/* media icon */
.media-icon-enabled {
  cursor: pointer;
  opacity: 1;
}

.media-icon-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
/* input element */
input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  /* border: 1px solid rgb(0, 128, 115); */
  border-radius: 10px;
  padding: 0.4rem;
  cursor: pointer;
  color: white;

  &:disabled {
    cursor: not-allowed;
  }
}
input::placeholder {
  color: #999;
  font-style: normal;
}

.emoji {
  cursor: pointer;
  position: relative;
}
.emojiCont {
  position: absolute;
  bottom: 50px;
  right: 0;
  max-width: 300px;
  width: 90vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.sendButton {
  border: none;
  padding: 0.01rem;
  height: 2.6rem;
  width: 2.6rem;
  display: flex;
  /* background-color: #cecccc; */
  background-color: #008069;
  border-radius: 50%;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:disabled {
    background-color: #008069;
    cursor: not-allowed;
  }
}

/* mobile view */
@media screen and (max-width: 769px) {
  .chatCont {
    flex: 1;
    height: 100vh;
  }
  .backBtn {
    display: block;
    margin-left: 0.3rem;
    font-size: 1.8rem;
  }
}
