.detailsCont {
  flex: 1;
  /* overflow: scroll; */
  display: none;

  img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }
  .userDetails {
    margin-top: 0.5rem;
    padding: 0.2rem 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.01rem;
    border-bottom: 1px solid rgb(203, 201, 201);

    h2 {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 1%;
    }
    p {
      font-size: 0.7rem;
      margin-bottom: 0%;
      color: #a5a5a5;
    }
  }
  .userInfoCont {
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .option {
      .title {
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;

        .icon {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .photos {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .photoItem {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .photoDetail {
          display: flex;
          align-items: center;
          gap: 20px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            object-fit: cover;
          }
          span {
            font-size: 14px;
            color: gray;
            font-weight: 400;
          }
        }
      }
    }
    button {
      padding: 5px;
      width: 90%;
      background-color: rgba(230, 74, 105, 0.553);
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: rgba(216, 17, 57, 0.856);
      }
    }
  }
}
#logout {
  background-color: #5d9ff5;
}
#logout:hover {
  background-color: #2270d5;
}


/* Mobile view (stacked vertically) */
@media (max-width: 768px) {
  .detailsCont{
    /* display: block; */
  }
}