.detailsCont {
  flex: 2;
  overflow: scroll;
  /* display: none; */
  border-left: 1px solid rgb(203, 201, 201);
  padding-bottom: 3%;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;

  img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    transition: transform 0.4s ease-in-out; /* smooth transition */

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transform: scale(1.1); /* zoom in by 10% */
    }
  }
  .detailsHeader {
    display: flex;
    border-bottom: 1px solid rgb(203, 201, 201);
    margin-bottom: 2%;
  }
  .userDetails {
    display: flex;
    margin-top: 0.5rem;
    padding: 0.2rem 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.01rem;

    h2 {
      font-size: 1.8rem;
      font-weight: 700;
      margin-top: 1%;
      margin-bottom: 1%;
      text-transform: uppercase;
      font-family: monospace;
      /* Gradient colors */
      background: linear-gradient(90deg, #f5c288, #fa699f, #c198dc);
      /* background: linear-gradient(to right, #ff7e5f, #feb47b);  */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p {
      font-size: 0.7rem;
      margin-bottom: 0%;
      color: #a5a5a5;
      margin-bottom: 2%;
    }
  }
  .userInfoCont {
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .option {
      .title {
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;

        .icon {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .photos {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .photoItem {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .photoDetail {
          display: flex;
          align-items: center;
          gap: 20px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            object-fit: cover;
          }
          span {
            font-size: 14px;
            color: gray;
            font-weight: 400;
          }
        }
      }
    }
    button {
      padding: 5px;
      width: 90%;
      background-color: rgba(230, 74, 105, 0.553);
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 45%;
      margin-top: 2%;

      &:hover {
        background-color: rgba(216, 17, 57, 0.856);
      }
    }
  }
}
/* #logout {
  background-color: #5d9ff5;
}
#logout:hover {
  background-color: #2270d5;
} */
/*------ back button ------- */
#detailsBackBtn {
  margin-left: 0.5rem;
  background: none;
  border: none;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  display: flex;
  z-index: 10;
}

/* Mobile view (stacked vertically) */
@media (max-width: 768px) {
  .detailsCont {
    /* display: block; */
  }
}
