* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  min-height: 100vh;
  background-image: url(bg3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  overflow-y: auto;
}
/* --------- main container ------- */
.appContainer {
  display: flex;
  height: 90vh;
  width: 90vw;
  /* background-color:#def9c4; */
  /* background-color:#def9c4; */
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(15px) saturate(180%);
  border-radius: 12px;
  color: white;
}

/* .loading{
  padding: 50px;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  border-radius: 10px;
  background-color: rgba(17, 25, 40, 0.9);
  color: white;
} */

/* ---- Loading Screen ---- */
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2.5rem;
  text-align: center;
  color: black;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Mobile view (stacked vertically)
@media (max-width: 768px) {
  .appContainer{
    height: auto;
    width: auto;
  }
} */

/* ===== Responsive Layout ===== */

/* Tablets (portrait + landscape) */
@media (max-width: 1024px) {
  .appContainer {
    flex-direction: column;
    height: 95vh;
    width: 95vw;
  }
}

/* Mobile devices */
@media (max-width: 768px) {
  .appContainer {
    flex-direction: row;
    width: "auto || 100vw";
    height: 100vh;
    border-radius: 0;
  }

  body {
    padding: 0;
    margin: 0;
    overflow: auto;
  }
}
